.container__logo {
    width: 100%;
    display: flex;
    background-color: #e7000a;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.container__logo img {
    height: 7vh;

}

.form__header {
    padding-top: 12px;
    display: flex;
    gap: 16px;
    border-bottom: 1px solid rgb(191, 190, 190);
}

.form__header div {
    margin-bottom: 12px;
}

.btn__add--element img {
    height: 7vh;
    z-index: 10;
}

.btn__add--element {
    right: 0;
    bottom: 0;
    padding-bottom: 30px;
    padding-right: 50px;
    position: fixed;

}

#inpt__search {
    padding: 12px;
    width: 20vw;
    padding: 15px 15px 15px 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}


.inpt__wrapper {
    position: relative;
    width: 271px;
}

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/*   cards     */
.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    margin: 1.5rem;
    overflow: hidden;
    width: 26rem;
    height: 30vh;
}

.container__cards {
    width: 90%;
    margin: 0 auto;

}



.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card img {
    width: 100%;
    height: 20vh;
    grid-area: 1 / 1 / 2 / 2;
    background-repeat: no-repeat;
}



.card .container__btn--title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-area: 5 / 1 / 6 / 2;
    display: flex;
    justify-content: space-around;
}

.btn__more--info{
    

    
}
.btn__more--info img{
    padding-top: 5px;
    font-size: 6px;
    height: 50px;

    
}
.btn__more--info:hover{
    cursor: pointer;
}

.container__alert {
    font-family: "Roboto", sans-serif;
    margin: 10vh 35vw;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.alert {
    display: flex;
}

.alert__content {

    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);

}

.alert__content button.close {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.alert__content img {
    width: 82px;
    margin-bottom: 15px;
}

.alert__content p {
    margin-bottom: 40px;
    font-size: 18px;
}

.alert__content button.btn__accept {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

.btn__accept:hover {
    cursor: pointer;
}